.footer {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkmagenta;
}

.logo {
  height: 1em;
  margin: 5px;
}
