.btn {
  display: inline-block;
  width: 100px;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.new {
  background-color: blue;
  transition: all 2s ease-in-out;
}
